<%- include('includes/head.ejs') %>
<header>
<h1>All Shortened URLs</h1>
</header>
  <main>
    <section>
      <h2>Saved URLs</h2>
      <table class="url-table">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (urls && urls.length) { %>
            <% urls.forEach(url => { %>
              <tr>
                <td>
                  <a href="http://localhost:3000/<%= url.shorturl %>">
                    http://localhost:3000/<%= url.shorturl %>
                  </a>                  
                </td>
                <td><%= url.description || "No description" %></td>
                <td class="url-actions">
                  <button class="copy-btn" data-url="<%= url.shorturl %>">Copy</button>
                  <a href="<%= url.longurl %>" target="_blank" class="open-btn">Open</a>
                  <form action="/delete/" method="POST">
                    <input type="hidden" value="<%= url._id %>" name="id">
                    <button type="submit" class="dlt-btn">Delete</button>
                  </form>
                </td>
              </tr>
            <% }); %>
          <% } else { %>
            <tr><td colspan="3">No records found.</td></tr>
          <% } %>
        </tbody>
      </table>
      
      </table>
    </section>
    <%- include('includes/tail.ejs') %>
